.col-8 {
    width: 8%;
    margin-top: 5px;
}

.col-35 {
    width: 35%;
    margin-top: 5px;
}

.col-chk {
    margin-left: 150px;
}
.row{
    margin-left: 10px;
}
.col{
    margin-left: 150px;
}

.button {
    display: inline-block;
    padding: 0 0px;
    cursor: pointer;
    outline: none;
    color: transparent;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    box-shadow: 0 0px #999;
}
#checkPlayer {
    margin-left: 200px;

}